---
import imageHome from "@assets/images/home.jpg";

import cv from "@assets/docs/cv-carlos-emmanuel-mendez-calderon.pdf";
---

<section
    class="home show-animate"
    id="home"
    style={`--background-image: url(${imageHome.src})`}
>
    <div class="home__content">
        <h1 class="content__title">
            Hola, soy <span class="home__title-span">Carlos Méndez</span>
            <span class="animate" style="--i:2;"></span>
        </h1>

        <div class="content__animate">
            <h3 class="content__animate-title">
                Desarrollador Full Stack Senior
            </h3>
            <span class="animate" style="--i:3;"></span>
        </div>

        <p class="content__text">
            Desarrollador Full Stack Senior enfocado en la construcción de
            plataformas web escalables y productos digitales de alto impacto.
            Más de <strong class="experience__years"></strong> años de experiencia
            en desarrollo full-stack, arquitecturas con Laravel y soluciones basadas
            en GIS. Me gusta dividir mi tiempo entre mi trabajo fijo y el desarrollo
            de proyectos personales. Me apasiona seguir aprendiendo.
            <span class="animate" style="--i:4;"></span>
        </p>

        <div class="content__btns">
            <a href="#" class="btns__btn">Habilidades</a>
            <a href="#" class="btns__btn">Portafolio</a>
            <span class="animate" style="--i:5;"></span>
        </div>
    </div>

    <div class="home__social">
        <div class="social__buttons">
            <a
                class="social__link social__link-download"
                href={cv}
                target="_blank"
                rel="noopener noreferrer"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    ><g
                        fill="currentColor"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        ><path
                            d="M13 11.15V4a1 1 0 1 0-2 0v7.15L8.78 8.374a1 1 0 1 0-1.56 1.25l4 5a1 1 0 0 0 1.56 0l4-5a1 1 0 1 0-1.56-1.25z"
                        ></path><path
                            d="M9.657 15.874L7.358 13H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.358l-2.3 2.874a3 3 0 0 1-4.685 0M17 16a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2z"
                        ></path></g
                    ></svg
                >
            </a>
            <a
                class="social__link"
                href="https://www.linkedin.com/in/carlose-mendez/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    ><path
                        fill="currentColor"
                        d="M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z"
                    ></path></svg
                ></a
            >
            <a
                class="social__link"
                href="https://api.whatsapp.com/send?phone=522213494285&text=¡Hola!"
                target="_blank"
                rel="noopener noreferrer"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    ><path
                        fill="currentColor"
                        d="M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28"
                    ></path></svg
                >
            </a>
            <a class="social__link" href="tel:2213494285">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 16 16"
                    ><path
                        fill="currentColor"
                        d="M5 2c-.554 0-1 .446-1 1v10c0 .554.446 1 1 1h6c.554 0 1-.446 1-1V3c0-.554-.446-1-1-1zm.5 1h5c.277 0 .5.223.5.5v7c0 .277-.223.5-.5.5h-5a.5.5 0 0 1-.5-.5v-7c0-.277.223-.5.5-.5m2 9h1a.499.499 0 1 1 0 1h-1a.499.499 0 1 1 0-1"
                    ></path></svg
                >
            </a>
        </div>

        <div class="social__mail">
            <p class="social__mail-text" id="social__mail-text">
                mcalderon.carlos@gmail.com
            </p>
            <a
                class="social__mail-send"
                href="mailto:mcalderon.carlos@gmail.com"
                target="_blank"
                rel="noopener noreferrer"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="19"
                    height="20"
                    viewBox="0 0 1792 1824"
                    ><path
                        fill="currentColor"
                        d="M1764 43q33 24 27 64l-256 1536q-5 29-32 45q-14 8-31 8q-11 0-24-5l-527-215l-298 327q-18 21-47 21q-14 0-23-4q-19-7-30-23.5t-11-36.5v-452L40 1115q-37-14-40-55q-3-39 32-59L1696 41q35-21 68 2m-342 1499l221-1323l-1434 827l336 137l863-639l-478 797z"
                    ></path></svg
                >
            </a>
            <button class="social__mail-copy">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    ><g fill="none"
                        ><path
                            d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                        ></path><path
                            fill="currentColor"
                            d="M19 2a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-2v2a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h2V4a2 2 0 0 1 2-2zm-4 6H5v12h10zm-5 7a1 1 0 1 1 0 2H8a1 1 0 1 1 0-2zm9-11H9v2h6a2 2 0 0 1 2 2v8h2zm-7 7a1 1 0 0 1 .117 1.993L12 13H8a1 1 0 0 1-.117-1.993L8 11z"
                        ></path></g
                    ></svg
                >
            </button>
        </div>

        <span class="animate" style="--i:6;"></span>
    </div>

    <div class="home__img-hover"></div>
    <span class="animate home-img" style="--i:7;"></span>
</section>

<script>
    import Swal from "sweetalert2";
    document
        .querySelector(".social__mail-copy")
        .addEventListener("click", async () => {
            const texto =
                document.getElementById("social__mail-text").textContent;

            if (navigator.clipboard && window.isSecureContext) {
                try {
                    await navigator.clipboard.writeText(texto);

                    Swal.fire({
                        position: "bottom-end",
                        icon: "success",
                        title: "¡Correo copiado al portapapeles!",
                        showConfirmButton: false,
                        timer: 3000,
                    });
                } catch (err) {
                    useFallback(texto);
                }
            } else {
                useFallback(texto);
            }
        });

    function useFallback(texto) {
        try {
            const textArea = document.createElement("textarea");
            textArea.value = texto;

            textArea.style.position = "fixed";
            textArea.style.left = "-999999px";
            textArea.style.top = "-999999px";
            document.body.appendChild(textArea);

            textArea.focus();
            textArea.select();
            document.execCommand("copy");
            textArea.remove();

            Swal.fire({
                position: "bottom-end",
                icon: "success",
                title: "¡Correo copiado al portapapeles!",
                showConfirmButton: false,
                timer: 3000,
            });
        } catch (err) {
            Swal.fire({
                icon: "error",
                title: "¡Hubo un problema al copiar el correo, intentalo manualmente!",
                showConfirmButton: false,
                timer: 3000,
            });
        }
    }
</script>
