---
import SkillCard from "@components/ui/SkillCard.astro";

const skillGroups = [
    {
        title: "Arquitectura & Backend",
        description: "Diseño de sistemas robustos y escalables.",
        skills: [
            "PHP (Laravel, MVC)",
            "WordPress Headless",
            "MySQL / PostgreSQL",
            "REST APIs",
            "Stripe",
            "WooCommerce",
            "PayPal",
            "Adquira (Bancomer)"
        ],
    },
    {
        title: "Frontend & Performance",
        description:
            "Interfaces rápidas orientadas a la experiencia de usuario.",
        skills: [
            "Astro",
            "React",
            "TypeScript",
            "jQuery",
            "Tailwind CSS",
            "WordPress",
            "SEO Técnico",
            "Web Vitals Optimization",
        ],
    },
    {
        title: "DevOps & Automatización",
        description: "Garantizando la continuidad y calidad del software.",
        skills: [
            "Docker",
            "GitHub Actions",
            "CI/CD Pipelines",
            "Linux Admin",
            "SSH & Rsync",
            "Git Workflow",
        ],
    },
    {
        title: "Sistemas Geográficos (SIG)",
        description: "Visualización y análisis de datos territoriales.",
        skills: [
            "GeoServer",
            "Leaflet",
            "PostGIS",
            "Manejo de datos espaciales",
        ],
    },
];
---

<section id="skills" class="skills">
    <div class="skills__container">
        <div class="skills__header">
            <h2 class="heading">
                <span class="heading__span">Stack </span>Tecnológico
                <!-- <span class="animate scroll" style="--i:1;"></span> -->
            </h2>
            <p class="skills__description">
                Mi enfoque se centra en utilizar la herramienta adecuada para
                cada problema, priorizando siempre el rendimiento, la seguridad
                y la mantenibilidad del código.
            </p>
        </div>

        <div class="skills__grid">
            {skillGroups.map((group) => <SkillCard {...group} />)}
        </div>
    </div>
</section>
