---
import logo from "@assets/images/icon-sf.svg";
import Image from "astro/components/Image.astro";
---

<header class="header" id="header">
    <a href="#" class="header__logo">
        <Image
            src={logo}
            class="header__logo-img"
            alt="Logo de mi portafolio Web (Carlos Méndez)"
            width={60}
            height={60}
            role="img"
            aria-label="Logo de mi portafolio Web (Carlos Méndez)"
        />
        <span class="animate" style="--i:1;"></span>
    </a>

    <div class="header__menu-icon" id="menu-icon">
        <svg
            class="menu-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            ><path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="m2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5"></path></svg
        >
        <svg
            class="menu-icon-close"
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
            ><path
                fill="none"
                stroke="currentColor"
                stroke-dasharray="12"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 12l7 7M12 12l-7 -7M12 12l-7 7M12 12l7 -7"
                ><animate
                    fill="freeze"
                    attributeName="stroke-dashoffset"
                    dur="0.4s"
                    values="12;0"></animate></path
            ></svg
        >
    </div>

    <nav class="header__navbar" id="header-navbar">
        <a class="navbar__link navbar__link--active" href="#home"> Inicio </a>
        <a class="navbar__link" href="#about">Acerca</a>
        <a class="navbar__link" href="#experience">Experiencia</a>
        <a class="navbar__link" href="#skills">Habilidades</a>
        <a class="navbar__link" href="#portfolio">Portafolio</a>

        <span class="navbar__active"></span>
        <span class="animate" style="--i:2;"></span>
    </nav>
</header>

<script>
    const menuIcon = document.getElementById("menu-icon");
    const navbar = document.getElementById("header-navbar");

    menuIcon?.addEventListener("click", () => {
        menuIcon.classList.toggle("close");
        navbar?.classList.toggle("active");
    });
</script>
