---
import BaseHead from "@components/base/BaseHead.astro";
import StructuredData from "@components/base/StructuredData.astro";
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";

import { ClientRouter } from "astro:transitions";

const { title, description, image, type } = Astro.props;

import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";

import "@assets/css/styles.css";
---

<html lang="es">
    <head>
        <BaseHead {title} {description} {image} {type} />
        <StructuredData />
        <ClientRouter />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />

        <script src="@assets/js/script.js"></script>
    </body>
</html>
